.grid{
    padding: 5px;
    display: grid;
    grid-template-columns: 40% 60%;
    height: 100vh;
    grid-template-rows: 60% 40%;
    background-color: black;
    width: 100%;
}
.source-input{
    border: 0.5px solid white;
    border-style: solid none solid solid;

}
.media-input{
    grid-column: span 2;
    padding: 2px;
    border: 0.5px solid white;
    border-style: none solid solid solid;
}
.player{
    padding: 2px;
    border: 0.5px solid white;
}