<div class="wrap">
    <button class="new-project-btn" routerLink="/editapplication" routerLinkActive="active"
        ariaCurrentWhenActive="page">
        Start new Project
    </button>
    <div class="wrap-content">
        <div class="table-content">
            <div class="title gridview">
                <div class="item">
                    SID
                </div>
                <div class="item">
                    Project Name
                </div>
                <div class="item">
                    Status
                </div>
                <div class="item">
                    Video Link
                </div>
                <div class="item">

                </div>
            </div>
            <div class="content gridview" *ngFor="let item of sampleData">
                <div class="item">
                    {{item.video_id}}
                </div>
                <div class="item project-name">
                    {{item.projectName}}
                </div>
                <div class="item">
                    <div *ngIf="item.status" class="status done">
                        Done
                    </div>
                    <div *ngIf="!item.status" class="status pending">
                        On Pending
                    </div>
                </div>
                <a class="item video-link" [href]="item.video_link" target="_blank">
                    {{item.video_link}}
                </a>
                <div class="item">
                    <button (click)="deleteRecord(item.video_id)" class="delete-btn">
                        X
                    </button>
                </div>
            </div>
        </div>
    </div>



</div>