<div class="wrap">
    <table style="width: 100%">
        <tr>
            <th>
                Video Id
            </th>
            <th>
                Project Name
            </th>
            <th>
                Status
            </th>
            <th>
                Video Link
            </th>
            <th>
                Function
            </th>
        <tr *ngFor="let item of sampleData">
            <td>
                {{item.video_id}}
            </td>
            <td>
                {{item.projectName}}
            </td>
            <td>
                {{item.status}}
            </td>
            <td>
                {{item.video_link}}
            </td>
            <td>
                <button (click)="deleteRecord(item.video_id)">
                    X
                </button>
            </td>
        </tr>

    </table>
</div>