<nav>
    <ul>
        <li class="logo">
            Logo
        </li>
        <li class="item">
            <a routerLink="/homepage" routerLinkActive="active" ariaCurrentWhenActive="page">Home</a>
        </li>
        <li class="item" *ngIf="!show">
            <a routerLink="/editapplication" routerLinkActive="active" ariaCurrentWhenActive="page">Video Edit
                App</a>
        </li>
    </ul>
    <ul>
        <div class="non-login" *ngIf="show">
            <li class="item">
                <a routerLink="/login" routerLinkActive="active" ariaCurrentWhenActive="page">Login</a>
            </li>
            <li class="item">
                <a routerLink="/sign-in" routerLinkActive="active" ariaCurrentWhenActive="page">Sign Up</a>
            </li>
        </div>
        <div class="login" *ngIf="!show">
            <li class="item">
                <a routerLink="/dashboard" routerLinkActive="active" ariaCurrentWhenActive="page">Dashboard</a>
            </li>
            <li class="item">
                <a (click)="logout()">
                    LogOut
                </a>
            </li>
        </div>

    </ul>
</nav>

<main role="main" [@fadeAnimation]="outlet.isActivated ? outlet.activatedRoute : ''">
    <router-outlet #outlet="outlet"></router-outlet>
</main>