<body>
    <nav>
        <ul>
            <li class="item">
                <a>Logo</a>
            </li>
            <li class="item">
                <a>Home</a>
            </li>
            <li class="item">
                <a>About</a>
            </li>
        </ul>
        <ul>
            <div class="non-login">
                <li class="item">
                    <a>Login</a>
                </li>
                <li class="item">
                    <a>Sign In</a>
                </li>
            </div>
            <div class="login">
                <li class="avatar">
                    <div class="nickname-image">
                        A
                    </div>
                </li>
            </div>

        </ul>
    </nav>
    <div class="landing" id="home">
        <div class="wrap">
            <div class="function">
                <div class="content">
                    asdsad
                </div>
                <div class="btn-wrap">
                    <button>
                        Login
                    </button>
                    <button>
                        Sign In
                    </button>
                </div>
            </div>
            <div class="greeting">
                <img src="../../../assets/1session.png" alt="demo" />
            </div>
        </div>

    </div>
    <div class="landing" id="about">
        <div class="about-content">
            asda
        </div>
    </div>
</body>