<body>

    <div class="landing" id="home">
        <div class="wrap">
            <div class="function">
                <div class="content">
                    <h3>
                        Cut Anywhere You Want
                    </h3>
                    <p>
                        Video editing is an OnSite Video editing Application. We will help you cut and merge your video
                        at anywhere with your
                        internet-connected device. Just hold the internet connect until done with your mind.
                    </p>
                </div>
                <div class="btn-wrap">
                    <button>
                        Login
                    </button>
                    <button>
                        Sign In
                    </button>
                </div>
            </div>
            <div class="greeting">
                <img src="../../../assets/1session.png" alt="demo" />
            </div>
        </div>

    </div>
</body>