<div class="wrap">
    <div class="inside-wrap">
        <div class="sign-In" id="sign-In" [@modalState]="isShow">
            <form [formGroup]="signUpForm" (ngSubmit)="signIn()">
                <label for="email">Email</label>
                <input class="email" type="email" id="email" formControlName="email" />
                <label for="nickname">Nickname</label>
                <input class="nickname" type="text" id="nickname" formControlName="nickname" />
                <div class="btn">
                    <button id="sign-in" type="submit" [disabled]="!signUpForm.valid">
                        Sign Up
                    </button>
                </div>
            </form>

        </div>
        <div class="check-email" [@modalState]="!isShow">
            <p>
                Plese check your email to confirm your account <br>
                We will re-direct to homepage in now, or <a>click here</a>
            </p>
        </div>
    </div>

</div>