<div class="grid-view">
    <div class="media-input">

        <div *ngFor="let data of arrayOfCutVideo" class="cut-point">
            <button (click)="addVideoToRenderArray(data.id)">
                <video height="50px">
                    <source [src]="sanitize(data.video.blobURL)">
                </video>
                <p>
                    {{data.video.name}}
                </p>
                <p>
                    {{data.start}} --> {{ data.end}}
                </p>s
            </button>
        </div>
    </div>
    <div class="media-timeline">
        <div *ngFor="let cut of mergeData" (click)="removeCut(cut.id)">
            <button>
                {{cut | json}}
            </button>

        </div>

    </div>
</div>
<button (click)="sendRequest()">
    Send Request
</button>