<p>media-input works!</p>
<div class="grid-view">
    <div class="media-input">
        
        <div *ngFor="let data of arrayOfCutVideo" >
            <button (click)="addVideoToRenderArray(data.id)">
                <p>
                    {{data.video.name}}
                </p>
                <p>
                    {{data.start}} --> {{ data.end}}
                </p>s
            </button>
        </div>
    </div>
    <div class="media-timeline">
        <div *ngFor="let cut of mergeData" (click)="removeCut(cut.id)">
            <button>
               {{cut[0] | json}}

               <P>
                
               </P>
            </button>
          
        </div>

    </div>
</div>
