.grid-view{
    display: grid;
    grid-template-columns: 40% 60%;
    width: 100%;
    height: 100%;
}
@media only screen and (max-width: 770px) {
    .grid-view{
        padding: 5px;
        display: flex;
        flex-direction: column;
       

    }
}
.media-input{
  margin-right: 3px;
    overflow-y:auto;
    background: rgba(21, 15, 36, 0.83);
border-radius: 16px;
}
.cut-point{
   margin-top: 5px;
   border-radius: 5px;
   padding: 5px
}
.video-tab{
  width: 125px;
}
.video-tab div{
  overflow-wrap: break-word ;
  
  font-size: 13px;
  letter-spacing: 2px;
}
div.info-wrap{
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 5px;
  height: 100%;
}
.cut-point button{
  width: 100%;
  border: none;
  transition: ease-out .5s;
}
.cut-point button:hover{
transition: ease-in .5s;
}

.media-timeline{
  display: flex;
  flex-direction: row;
    overflow-x: auto;
    justify-content: center;
    align-items: center;
    color: white;
    background: rgba(21, 15, 36, 0.83);
border-radius: 16px;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: #806800; 
  backdrop-filter: blur(9.6px);
-webkit-backdrop-filter: blur(9.6px);

}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFEB00; 
}

.btn-cut-video{
  display: grid;
  grid-template-columns: 9fr 1fr;
  border-radius: 18px;
  background-color: #EDCD3B;
  color: #1B365C;
  padding: 5px;
  font-weight: 600;
  cursor: auto;
  transition: .5s ease-in;
}
.btn-cut-video:hover{
  box-shadow: 0 5px #EDCD3B;
  background-color: black;
  color: white;
  border-radius: 0;
  transition: .5s ease-out;
}
.delete-btn{
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  font-size: 20px;
  transition: ease-out 0.3s;
  padding: 10px;
}
.metadata{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  width: 100%;
  overflow-x: hidden;
}
.metadata p.time{
  font-size: 16px;
  letter-spacing: 4px;
  margin-bottom: 5px;
}
.metadata p.letter{
  justify-content: start !important;
  font-size: 13px;
  letter-spacing: 5px;
  margin: 0;
}
.delete-btn:hover{
  transition: ease-in 0.1s;
  
  cursor: pointer;
}
.wrap{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.3px solid white;
  padding: 8px;
  border-radius: 15px;
  max-width: 400px;
  overflow: hidden;
  min-width: 200px;
  margin-left: 5px;
  transition: .25s ease-out;
}
.wrap:hover{
  background-color: #FFEB00;
  color: #1B365C;
  border: 1px solid black;
  transition: .5s ease-in;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#EDCD3B;
	color:black;
	border-radius:50px;
  border: 0;
	text-align:center;
  transition: 0.5s ease-out;
}
.float:hover::after{
  content: '   Send Request';
  transition: 0.75s ease-in-out;
}
.float:hover{
  padding: 0 10px;
  width: 150px;
  transition: 0.5s ease-in;
}
div.spinner{
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  color:white;
  font-size: 2vw;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.562);
  z-index: 99;
  cursor: pointer;
  transition: ease-in-out 4s;
}


.time-span{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  font-size: 18px;
  letter-spacing: 1px;
  font-weight: 600;
  font-style:italic ;
}
.wrap div.name{
  font-size: 16px;
  font-weight: 600;
}

.duration{
  display: flex ;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding:2px 5px;
  font-size: 13px;
  font-style: italic;
}


.modal-body{
  display: flex;
  flex-direction: column;
}
.btn-load-preview{
  height: 30px;
  text-align: center;
  width: 100%;
  border-radius: 15px;
  background-color: #EDCD3B;
  color: #1B365C;
  border: none;
}
.video-optional{
  display:flex;
  flex-direction: column;
}
.video-preview{
  padding:5px;
}
.deactive-status{
  color: red;
  font-weight: 600;
}
.active-status{
   color: green;
  font-weight: 600;
}
.mail-input{
  display: none;
  width: 75px;
}