.wrap{
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 5px;
    margin: 0;
    height: 100%;
}
.dropzone{
  display: flex;
    position: relative;
    height: 100px;
    cursor: pointer;
}
.dropzone div.imageholder{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vw;
    border: 0.5px rgb(48, 48, 48);
    border-style: dashed;
    margin: 0px;
    border-radius: 10px;
    position: absolute;
    z-index: 0;
    height: 100%;
    width: 100%;
}
#drop-text{
  color: #FFEB00;
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 2px;
  
}
input.file{
    opacity: 0;
    height: 100px;
    position: absolute;
    cursor: pointer;
    margin: 8px;
    z-index: 10;
    width: 100%;
}
.fileuploaded{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    overflow-y: auto;
    padding: 10px;
    margin-top: 10px;
}

.video-input-item button.video-item{

    height: 120px;
    width:150px;
    overflow: hidden;
    background-color: transparent;
    min-width: 100px;
    color: #fff7a4;
    letter-spacing: 1px;
    transition: ease-out 0.1s;
    cursor: pointer;
    border: none;
    padding: 0;
    margin: 0;
}
.video-item video{
  height: 75px;
}

.video-input-item{
  padding: 5px;
  border: none;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  margin: 0 0 10px 10px;
  background-color: #0f0622;
  transition: 0.25s ease-out;
}
.video-input-item:hover{
  border: 1px rgb(134, 134, 134) solid;
  transition: .25s ease-in;
}
.video-name{
  padding: 2px;
  font-size: 1vw;
  color: white;
}
.thumbnail-placeholder{
    width: 100%;
}


.loading{
  display: block;
  color: white;
  transform: rotate(0deg);
  
}
.lds-ring {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 12px;
  height: 12px;
  margin: 4px;
  border: 4px solid #FFEB00;
  border-radius: 50%;
  box-shadow: 0 0 4px white;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #FFEB00 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #353806; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFEB00; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fdeb1f; 
}