<div class="wrap">

    <div class="dropzone">

        <div class="imageholder">
            Drop your Video Here
        </div>
        <input type="file" multiple (change)="fileBrowseHandler($event)" class="file">

    </div>
    <div class="fileuploaded">
        <div *ngFor="let video of fileInput" class="video-input-item">
            <button (click)="transVideo(video)" class="video-item">
                <video height="50px">
                    <source [src]="sanitize(video.blobURL)">
                </video>
                <div>
                    {{video.name}}
                </div>
            </button>
        </div>
    </div>

</div>