.wrap{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: auto;
    padding: 0;
    margin: 0;
    background-color: black;
}
.dropzone{
    width: 100%;
    position: relative;
    height: 20%;
    cursor: pointer;
}
.dropzone div.imageholder{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    border: 0.5px rgb(58, 58, 58);
    border-style: none none dashed none;
    position: absolute;
}
#drop-text{
  color: white;
  text-shadow:  0 0 10px #f1f1f1, 
                0 0 30px #ffffff;
}
input.file{
    opacity: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    cursor: pointer;
}
.fileuploaded{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    height: auto;
    width: 100%;
    overflow-y: scroll;
}

.video-input-item button.video-item{
    height: auto;
    width: auto;
    margin: 3px;
    overflow: hidden;
    border-radius: 5px;
    padding: 2px;
    background-color: black;
    color: white;
    letter-spacing: 1px;
    transition: ease-out 0.1s;
    cursor: pointer;
}
.video-input-item:hover {
  box-shadow: 0 0 10px #bababb, 0 0 40px #bdbdbd, 0 0 20px #535353;
  transition: ease-in 0.2s
}
.video-input-item,
button.video-item{
    padding: 0
}

.video-input-item{
    border-radius: 5px;
    margin: 3px
}
.video-name{
  padding: 2px;

}
.thumbnail-placeholder{
    width: 100%;
}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(255, 185, 185); 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(255, 118, 118); 
}