<p>video works!</p>
<video controls id="video-played">
    <source src="" type="video/mp4">
    <source src="" type="video/ogg">
    Your browser does not support the video tag.
</video>
<div>
    <button (click)="playVideo()">
        play
    </button>
    <button (click)="pauseVideo()">
        Pause
    </button>
    \<button (click)="next5Sec()">
        >>
    </button>
    <button (click)="prev5Sec()">
        prev
    </button>
    <button (click)="muteVol()">
        Mute
    </button>
    <input type="range" id="volumm-range" min=1 max=100 (change)="changeVol()" id="slider-vol" [value]="volValue*100">
    <div>
        {{currentTime}}!<br>
        <input type="range" id="time-range" [value]="currentTime" (change)="seekTime()">
    </div>
    <!--

   
    -->
    <form [formGroup]="markingPoint" (ngSubmit)="markingLoop(null, null)">
        <div>
            <input type="number" id="start-range" formControlName="start">s -->
            <input type="number" id="end-range" formControlName="end">s
        </div>
        <div>
            <button [disabled]="!markingPoint.valid" type="submit">
                Set Loop Point
            </button>
            <button  [disabled]="!markingPoint.valid" (click)="createMarkingCutPoint()">
                Cut this Position
            </button>
        </div>
    </form>
   
    <button (click)="unMarking()">
        Unmarking Loop Point
    </button>
  
</div>