<div class="video-wrap">
    <video id="video-played">
        <source src="" type="video/mp4">
        <source src="" type="video/ogg">
        Your browser does not support the video tag.
    </video>
</div>
<div class="time-wrapper">
    <div class="time-range">
        {{currentTime}}
        <span>
            <input type="range" id="time-range" [value]="currentTime" (change)="seekTime()">
        </span>

    </div>
    <div class="cut-slider-wrapper">
        <span>
            <input class="inputTime" value="1" id="fromInput">
        </span>
        <div class="range_container">
            <div class="sliders_control">
                <input id="fromSlider" type="range" value="10" min="0" max="100" />
                <input id="toSlider" type="range" value="40" min="0" max="100" />
            </div>

        </div>
        <span>
            <input class="inputTime" value="1" id="toInput">
        </span>
    </div>
</div>


<div class="video-controller">
    <button (click)="stopVideo()" class="control-btn">
        Stop
    </button>
    <button (click)="playPause()" class="control-btn">
        play/pause
    </button>
    <button (click)="pauseVideo()" class="control-btn">
        Pause
    </button>
    <button (click)="prev5Sec()" class="control-btn">
        prev
    </button>
    <button (click)="next5Sec()" class="control-btn">
        next
    </button>
    <button (click)="muteVol()" class="control-btn">
        Mute
    </button>
    <div class="volumm">
        <input type="range" class="volumm-range" min=1 max=100 (change)="changeVol()" id="slider-vol"
            [value]="volValue*100">
    </div>


    <!--

   
    -->


</div>
<div class="marking-function">
    <form [formGroup]="markingPoint" (ngSubmit)="markingLoop(null, null)">
        <div>
            <input type="number" id="start-point" formControlName="start">s -->
            <input type="number" id="end-point" formControlName="end">s
        </div>
        <div>
            <button [disabled]="!markingPoint.valid" type="submit">
                Set Loop Point
            </button>
            <button [disabled]="!markingPoint.valid" (click)="createMarkingCutPoint()">
                Cut this Position
            </button>
        </div>
    </form>

    <button (click)="unMarking()">
        Unmarking Loop Point
    </button>
</div>