.wrap{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #EEEEEE;
}
.film-img{
    width: 100%;
    max-width: 700px;
}
.back-btn{
    transform: translateY(75px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
     max-width: 700px;
     width: 100%;
     padding: 5vw;
     background-color: black;
     color: white;
      animation: backgrond-change 5s infinite 0.3s;
     
   
}
.back-btn .warning{
    animation: f-change 5s infinite 0.3s;
    letter-spacing: 2px;
    word-spacing: 3px;
}
.back-btn .pagenotfound{
 animation: color-change 5s infinite 0.3s;
 font-size: 3vw;
     letter-spacing: 4px;
     word-spacing: 10px;
     font-weight: 600;
}
@keyframes backgrond-change{
    86%{
        background-color: #EEEEEE;
        transition: 0.6s ease;
    }
}
@keyframes f-change{
    86%{
        color: black;
        transition: 0.6s ease;
    }
}

@keyframes color-change {
    0%{
        color: white;
        transition: 0.6s ease;
    }
    12%{
        color: yellow;
        transition: 0.6s ease;
    }
    24%{
        color: cyan;
        transition: 0.6s ease;
    }
    36%{
        color: greenyellow;
        transition: 0.6s ease;
    }
    50%{
        color: magenta;
        transition: 0.6s ease;
    }   
    62%{
        color: red;
        transition: 0.6s ease;
    }
     74%{
        color: blue;
        transition: 0.6s ease;
    }
     86%{
        color: black;
        transition: 0.6s ease;
    }
     100%{
        color: white;
        transition: 0.6s ease;
    }

}